/* Start reset */
html {
  font-size: 10px; /*stabilim dim de 1 rem*/
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/* end reset */

#usersList * {
  font-size: 1.5rem;
  cursor: pointer;
}
.container {
  margin: 10px;
}

input {
  padding: 3px;
  padding-right: 1.2rem;
  border: 2px solid grey;
  max-width: 13rem;
  border-radius: 5px;
  margin-right: 1rem;
}
input:focus {
  background-color: #fafafa;
  border: 2px solid black;
}
button {
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgreen;
  transition: 0.3s ease-in;
  margin-bottom: 0.5rem;
  height: 3.5rem;
  color: #2b2b2b;
}
button:hover {
  background-color: #fafafa;
  border: 2px solid grey;
}

#left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 16rem;
  border-right: 2px solid black;
  margin-bottom: 1rem;
}

#right {
  width: 80%;
  position: relative;
  right: -15.3rem;
}
ul {
  max-width: 100%;
}
li {
  display: flex;
  display: inline-block;
  min-width: 20rem;
  transition: 0.2s ease-out;
  border-radius: 5px;
  padding: 5px;
}
li:hover {
  background-color: #eaeaea;
}
span {
  background-color: #bbbbbb;
  border-radius: 50%;
  padding: 2px 10px;
}
.fa-solid {
  font-weight: 900;
  color: grey;
  position: fixed;
  top: 20px;
  left: 123px;
  font-size: 1.4rem;
  height: 6rem;
  cursor: pointer;
}
